<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Ciąg Fibonacciego</h1>
    <p class="lead">Ta aplikacja generuje kolejne elementy ciągu Fibonacciego</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="#" role="button" (click)="runFibonacci()">{{isRunFibonacciSequence ? 'Stop' : 'Start'}}</a>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item active">Pierwszy element:</li>
    <li class="list-group-item" *ngFor="let fibi of fibonacci">{{fibi}}</li>
  </ul>

</div>
